<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNCzLTGZ7CDMXuU7fWDmnbWyE6oR5kylg</string>
	<key>GCM_SENDER_ID</key>
	<string>740103328934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masterfabric.expo.ios</string>
	<key>PROJECT_ID</key>
	<string>masterfabric-expo-9b4ac</string>
	<key>STORAGE_BUCKET</key>
	<string>masterfabric-expo-9b4ac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740103328934:ios:6ea8f2168128ac63db5067</string>
</dict>
</plist>
